/* portfolio.css */
.portfolio-section {
    padding: 50px 0;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #444443; /* White background for elegance */
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3); /* Subtle box shadow for depth */
  }
  .portfolio-heading {
    font-family: 'Playfair Display', serif; /* Stylish and elegant serif font */
    font-size: 36px; /* Moderate font size for readability */
    font-weight: bold; /* Emphasize the heading */
    color: #232222; /* Dark gray color for sophistication */
    margin: 0; /* Remove default margin */
    padding: 0 20px; /* Add padding for spacing */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    
  }
  .portfolio-heading:hover{
    color: #ffffff;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .project {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-5px);
  }
  
  .project h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #30D1ff;
  }
  
  .project p {
    color: #E0EAF8;
  }
  .fade-in {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .fade-in.visible {
    opacity: 1;
  }
  